GOOGLE_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
OPENROUTER_API_KEY=
TELEGRAM_BOT_USERNAME=
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET_TOKEN=
NGROK_AUTHTOKEN=
NGROK_DOMAIN=
MONGODB_URI=
MONGODB_DB_NAME=
ADMIN_TELEGRAM_ID=
ADMIN_NAME=
ADMIN_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
# generate cookie password with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
GOOGLE_COOKIE_PASSWORD=
GOOGLE_ALLOWED_EMAILS=
